@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: 'Poppins',sans-serif;
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: 'Roboto',sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);
}
.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
}

/* utility class */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.banner{
    background-image: url("./assets/asset\ 30.png");
    background-color: #4fb3d4;
    background-size: 300px;
    /* background-repeat: no-repeat; */
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.logo img{
    width: 200px;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.nav-links{
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap:40px;
}
.hover-links{
    color: var(--primary-text-color);
}
.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}


/* hero-section */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.hero-section{
    justify-content:center;
    gap: 50px;
}
.left-box h1{
    letter-spacing: -1px;
    margin-bottom: 16px;
    line-height: 1.2;
    font-weight: 600;
}
.left-box p{
    margin-bottom: 32px;
}
.right-box img{
    width: 586px;
}

/* companies-section */
.one-liner-text{
    margin-top: 50px;
    text-align: center;
}
.companies-images-list{
    justify-content: space-between;
    margin-top: 30px;
   }
.logo{
    height: 46px;
}

/* feature-section */
.feature-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
   }
.feature-header{
    text-align: center;
}
.feature-header h2{
    margin-bottom: 16px
}
.features-area{
    flex-wrap: wrap;
    justify-content: center;
}
.features-area-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 1.5%;
    padding-left: 1.5%;
    text-align: center;
}

/* big-feature-section */
.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-container{
 gap: 40px;
}
.feature-img img{
  width: 550px;
}
.feature-details{
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}
.feature-details >:last-child{
    max-width: 508px;
}
.feature-details img{
    max-height: 30px;
}
.person{
    gap: 7px;
}
.person img{
    max-height: 48px;
}

/* example section */
.feature-header{
    margin-block: 60px;
}
.image-gallary{
    gap: 20px;
}
.card-image{
    width: 30%;
    min-height: 300px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8)),url(./assets/asset\ 34.jpeg);
    background-size: cover;
    text-align: center;
}
.card-image:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card-text{
    position: relative;
    top: 192px;
    bottom: 20px;
    color: white;
}
.card-image:nth-child(2){
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8)),url(./assets/asset\ 35.jpeg);
}
.card-image:nth-child(3){
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8)),url(./assets/asset\ 36.jpeg);
}
.card-image:nth-child(4){
    background-image: linear-gradient(180deg,rgba(0,0,0,.2),rgba(0,0,0,.8)),url(./assets/asset\ 37.jpeg);
}

/* cta section */
.cta-section{
    /* width: 100%; */
    margin-top: 67px;
    padding: 120px var(--padding-inline-section) 80px;
    background-color: #183b56;
}
.cta{
  
   color: white;
   text-align: center;
   flex-direction: column;
   gap: 30px;
}
.cta p{
    color: white;
    margin-top: 10px;
}

/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.flex-container{
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}
.link-column{
   flex-direction: column;
   gap: 20px;
   align-items: flex-start;
}

/* sub-footer */
.sub-footer{
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}
.sub-footer-container{
    justify-content: center;
    gap: 20px;
}






